[submodule "Plugins/InventoryManager"]
	path = Plugins/InventoryManager
	url = https://github.com/dtb1996/UE5-Inventory-Manager.git
[submodule "DialogManager"]
	path = DialogManager
	url = https://github.com/dtb1996/UE5-Dialog-Manager.git
